<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
  <title>Recetas Argentinas</title>
  <link rel="stylesheet" href="../Assets/css/estilo.css">
</head>
  <body>
    <h1 align="center">Contactanos</h1>
    <form class="home" action="index.html" method="post">
     <ul>
        <li>
        <label for="name">Nombre:</label>
          <input type="text" id="name" name="user_name">
          <label for="mail">Correo electrónico:</label>
          <input type="email" id="mail" name="user_mail">
        </li>
        <li>
        <label for="msg">Mensaje:</label>
        <textarea id="msg" name="user_message"></textarea>
        </li>
     </ul>
    </form>
  </body>
</html>
