<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>Recetas Argentinas</title>
    <link rel="stylesheet" href="../Assets/css/estilo.css">
  </head>

  <body>
    <h1 align="center">Fotos</h1>

    <div class="contenedor">
      <img src="../Assets/img/galeria.jpg" alt="empanadas">
    </div>
   <footer id="colorMagenta" align="center">--Copyright © 2021 - Todos los derechos reservados--</footer>
  </body>
</html>
