<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

    <title>Recetas Argentinas</title>
    <link rel="stylesheet" href="../Assets/css/estilo.css">
  </head>
  <div class="contenedor">

  <body  background="../Assets/img/fondo_web1.jpg">

    <header class="">
      <div>
          <nav>
            <ul>
              <li><a href="Pagina1.html"target="_blank"> Nosotros</a></li>
              <li><a href="Galeria.html"target="_blank"> Galeria </a></li>
              <li><a href="Contacto.html"target="_blank">Contactános</a></li>
            </ul>
          </nav>
        </div>
    </header>
  <audio src="../Assets/media/Don ata.mp3" controls></audio>
  <center>
  <h1>Las Recetas de la Tía</h1>
  <h3 class="tamañoGrande">Las recetas de la tia son las mas ricas , es como si fuera de mamá y de la abuela juntas</h3>

      <h2>
      Empanadas Caseras Sin Horno
      </h2>
        <h3 align="center">(O sea...fritas)</h3>
        <p class="colorVerde">Las mejores y más jugosas empanadas caseras. Receta super fácil.<b>Si nunca hiciste empanadas caseras esta es tu oportunidad!!</p>
      <img src="../Assets/img/empanadas.jpg" alt="empanadas" align="center">
    </center>
<div class="">


    <section>
      <h3>Ingredientes para la masa</h3>
        <ul>
          <li>500 gramos de harina</li>
          <li>1/2 cuchara sopera de azúcar</li>
          <li>1/2 cuchara sopera de sal</li>
          <li>40 gramos  de manteca</li>
          <li>250 cc de agua</li>
        </ul>

    </section>
    </div>
    <section>
        <h3>Para el relleno</h3>
          <ul>
              <li>250 gramos de carne molida común</li>
              <li>250 gramos de cebolla morada</li>
              <li>1 diente de ajo</li>
              <li>2 huevos duros</li>
              <li>50 gramos de aceitunas sin carozo</li>
              <li>Aceite ...cantidad necesaria</li>
              <li>Condimento a gusto (Yo sugiero pimienta, pimenton y aji molido)</li>
           </ul>
    </section>

    <div class="elemento home">
      <h3>Vamos con la masa</h3>
      <ol>
          <li>Funde la manteca y calienta el agua para empezar a preparar la masa de las empanadas caseras.</li>
          <li>Mezcla la harina con la sal y el azúcar. Nosotros hemos utilizado harina de trigo, pero si lo prefieres puedes usar otro tipo de harina.</li>
          <li>Forma un volcán con la harina y añade en el centro la manteca y el agua para amasar durante 5-8 minutos.</li>
          <li>Haz una bola con la masa y deja que repose durante 30 minutos.</li>
          <li>Una vez descansada la masa cortala en 12 partes iguales y haz bollitos</li>
          <li>Amasar cada bollito con palote dandole un espesor de al menos 1 mm</li>
          <li>Conservar en la heladera tapado con film</li>
      </ol>
      <h3>Ahora el relleno!!</h3>
      <ol>
          <li>Picar la cebolla junto con el ajo y hecharlas en un sarten caliente con 2 cucharadas de aceite</li>
          <li>Una vez que la cebolla tome un tono tranparente aproximadamente 1 minuto</li>
          <li>Pasado este tiempo ya puedes añadir la carne en la sartén. Revuelve para que se mezcle todo bien y continua con la cocción salteando el conjunto por 3 minutos más.</li>
          <li>Mientras tanto picar el huevo y las aceitunas</li>
          <li>Apagar el fuego y agregar al sarten,huevos y aceitunas picados. Dejar enfiar</li>
          <li>Rellena cada masa aproximadamente con una cucharada sopera de relleno y haz el repulgue que mas te guste</li>
          <li>Calentar el aceite en el sarten, y poner las empanadas que entren solo cuando el aceite este bien caliente</li>
          <li>Servir sobre un papel absorvente y... Bon apetit!!</li>
      </ol>
    </div>

  <div class="" align="center">
      <h4 class="home colorVerde">Descarga un libro de recetas GRATIS</h4>

      <a class="home" href="../Assets/download/100Recetas.pdf" download="100 Recetas(ver. 2.0.1).pdf" target="_blank" >DESCARGA AQUI</a>

      <div class="video">
        <h3 class="home">Aqui tienes un video para orientarte</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7QdhzG-r2E4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </div>





        <h4 id="colorMagenta">Puedes encontrar otras recetas tan solo siguiendo el link debajo!!!</h4>
        <div>
        <a href="https://www.recetasgratis.net/" target="_blank" >IR a la RECETAS GRATIS.NET</a>
        </div>
      <br>
      <h3>Aqui tienes nuestra ubicación, te esperamos!!</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13394.657838261783!2d-68.83392317415768!3d-32.93346235041382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0bd878366ac1%3A0x5f462e2a510ead05!2sPlaza%20Godoy%20Cruz!5e0!3m2!1ses-419!2sar!4v1619906229332!5m2!1ses-419!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">Plaza de Godoy Cruz</iframe>
</div>
<footer id="colorMagenta" align="center">--Copyright © 2021 - Todos los derechos reservados--</footer>
  </body>
</div>
</html>
