<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

  <title>Recetas Argentinas</title>
  <link rel="stylesheet" href="../Assets/css/estilo.css">
</head>
  <body>
    <h1 align="center">Acerca de nosotros</h1>
    <p class="contenedor">Dicen que nunca tienes una segunda oportunidad cuando se trata de una primera impresión.

Y ya que la página “Quiénes somos” de tu sitio web con frecuencia actúa como una introducción, es seguro decir que es algo muy importante que tiene que hacerse bien.

Una página “Acerca de” o simplemente "Nosotros" exitosa no sólo está repleta de información interesante y útil sobre ti, y tu equipo, sino que también debería resumir a tu marca como un todo, estilísticamente y en términos de personalidad.

Puede que esto suene como una tarea bastante pesada de realizar, pero en realidad existen muchas maneras ingeniosas, simples y emocionantes en las que puedes abordar esta tarea, mientras que aún mantienes un diseño limpio, consistente y atractivo.

Entonces, sin nada más que agregar, démosles un vistazo a estos 50 únicos e interesantes ejemplos de página “Quiénes somos” y exploremos qué es lo que hace que funcionen.</p>
   <footer id="colorMagenta" align="center">--Copyright © 2021 - Todos los derechos reservados--</footer>
  </body>
</html>
